<section>
  <!--搜索-->
  <section class="searchBox">
    <Form inline>
      {{#pairs}}
      <FormItem label="{{label}}" prop="{{variable}}">
        <Input v-model="entity.{{variable}}" />
      </FormItem>
      {{/pairs}}
      <FormItem>
        <Button type="primary" @click="onSearch">查询</Button>
        <Button @click="onReset">重置</Button>
      </FormItem>
    </Form>
  </section>
  <!--/搜索-->

  <!--按钮群组-->
  <section class="buttonGroup">
    <Button type="primary" @click="() => { this.mode = MODE.ADD }">添加</Button>
    <Button type="primary" @click="onDelete">删除</Button>
  </section>
  <!--按钮群组-->

  <!--数据表格-->
  <section>
    <Table
      border
      :columns="columns"
      :data="dataSource"
      @on-selection-change="onSelect"
    />
    <Page
      show-total
      class="text-right"
      placement="top"
      :current.sync='page.pageNo'
      :page-size='page.pageSize'
      :total="page.totalSize"
      @on-change='onPageChange'
    />
  </section>
  <!--数据表格-->

  <!--编辑框-->
  <Modal
    :title="modalTitle"
    width="700"
    :model="mode === MODE.EDIT || mode === MODE.ADD">
    <Form :label-width="150" :model="entity" :rules="rules">
      {{#pairs}}
      <FormItem label="{{label}}" prop="{{variable}}">
        <Input class="wrapperWidth" v-model="entity.{{variable}}" />
      </FormItem>
      {{/pairs}}
    </Form>
    <div slot="footer">
      <Button long size="large" type="primary" @click="onSave">保存</Button>
    </div>
  </Modal>
</section>
